<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imis.datamanagement.mapper.TeacherMapper">

    <select id="getByTeacherId" resultType="com.imis.datamanagement.common.vo.ShowVo">
        select * from teacher inner join teacher_info
        <where>
            teacher.id = teacher_info.id
            and
            <if test="id != null and id != ''">
                teacher_id = #{id}
            </if>
        </where>
    </select>

</mapper>